.logodiv img {
    width: 100px;
}

.navbarName a,
.contact {
    color: black;
    font-size: 20px;
    margin: 00px 20px;
    font-weight: 500;

}

.navbarName a:hover,
.contact:hover {
    color: black;
}